*{
    margin: 0;
    padding: 0;
    }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: Roboto, sans-serif
    padding: 10px;
  }

.logo-spotify {
    width: 90px;
    height: auto;
    padding: 5px;
   }

.hamburguesa {
    width: 25px;
    height: 30px;
    padding: 5px;
   }

main {
    font-family: Roboto, sans-serif;
    }

.premium-section{
    background-color: #539CF2;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;         
    line-height: 25px;    
}

button {
    padding: 10px;
    background-color: #24B757;
    color:white;
    border-radius: 16px;
    border: none;
    font-size: 11px;
    font-weight: 700;
    width:100%;
      }

.title {
    font-size: 28px;
}

.description {
    margin:20px 0px;
    font-weight: 700;
}

.terms {
    margin-top: 40px;
    font-size: 10px;
    line-height: 15px;
}

.main-section {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.principal {
    display: flex;
    }

.images {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 30px;
    margin-left: 20px;
       }

.paragraph {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 45px;
    margin-left: 35px;
    gap: 82px;
    line-height: 25px;
    }

span {
    font-size: 13px;
    color: grey;
}

img {
    height: 60px;
    width: 60px;
    }

footer {
    background-color: black;
    color: grey;
    font-family: roboto, sans-serif;
    font-size: 9px;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
        }

.footer-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
       }
 
.banderita {
    width: 20px;
    height: 20px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
}
.text-right {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 7px;
        }

@media screen and (min-width: 736px) 
    {
    
}